/* * {
  margin: 0;
}

 :root {
  --gold-soundz: #ffd166;
  --neon-watermelon: #ef476f;
  --electric-mint: #06d6a0;
  --sage-sage: #83c5be;
  --blueberry-smoothie: #118ab2;
  --old-midnight: #073b4c;
  --primary-background: var(--old-midnight);
  --secondary-background: var(--electric-mint);
  --primary-color: var(--sage-sage);
  --secondary-color: var(--gold-soundz);
  --dark-color: var(--old-midnight);
  --primary-highlight: var(--gold-soundz);
  --secondary-highlight: var(--neon-watermelon);
  --primary-gray: #dfdfdf;
  --danger: white;
} 

html {
  background: var(--primary-background);
  font-family: Helvetica, sans-serif;
  color: var(--primary-color);
}

button {
  cursor: pointer;
}

/* Header */
/* nav {
  background: var(--secondary-background);
  border-bottom: 3px solid var(--primary-highlight);
  padding: 50px;
  text-align: center;
}

nav h1 {
  font-size: 50px;
}

.logo {
  color: var(--dark-color);
  font-weight: bold;
}

/* Main section */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 30px;
}

/* Form */
aside.form {
  padding: 0 30px;
}

aside.form h2 {
  text-align: right;
}

aside.form form label {
  display: block;
  margin: 20px 0;
  width: 100%;
}

 aside.form form input,
aside.form form select {
  border: 2px solid #ccc;
  border-radius: 0;
  border-style: solid;
  box-sizing: border-box;
  /* color: ghostwhite; */
  display: block;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
 /* color: rgb(255, 240, 240);  */
 font:red;
}  


aside.form form button,
button {
  /* background: var(--primary-highlight); */
  border: 0;
  border-radius: 5px;
  border-style: solid;
  font-weight: bold;
  padding: 10px 50px;
}

/* aside.form form button:hover {
  background: var(--secondary-highlight);
  cursor: no-drop;
}  */

aside.form form button[type="submit"] {
  background: var(--primary-gray);
}

aside.form form button[type="submit"]:hover {
  background: var(--primary-gray);
  cursor: wait;
} 

button.in-vip.vip{border :2px solid black;}

button.bounce{border:2px solid black}

button#clear,button#submit,button.out-vip{border:2px solid black}

body{background-color: orangered;}
